## Conditional

In [3]:
x = 0
y = 5

if x < y:
    print('Yes') #Truthy

if y < x:
    print('Yes') #Falsy
    
if x:
    print('yes') #Falsy
    
if y:
    print('yes') #Truthy
    
if 'aul' in 'grault':
    print('yes') #Truthy

if 'quux' in ['foo', 'bar', 'baz']:
    print('yes') #Falsy

Yes
yes
yes

In [21]:
if 'foo' in ['foo', 'bar', 'baz']: #True
    print('Outer condition is true')
    
    if 10 > 20: #True
        print('Inner condition 1')
        
    print ('Between inner condition')
    
    if 10 < 20:
        print('Inner Condition 2')
    print('End of outer Condition')
print('Afrer outer condition')

Outer condition is true
Between inner condition
Inner Condition 2
End of outer Condition
Afrer outer condition

## The else and elif Clauses

In [23]:
x = "hujan"
if x == "hujan":
    print('Sedang Hujan')
else:
    print('Tidak Hujan')

Sedang Hujan

In [25]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [29]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 21000

if uang > hargaBuku:
    print('beli buku')
elif uang > hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

beli buku

In [5]:
name = "Rizqa"

if name =='Fred':
    print("Hello Fred")
elif name == 'Xander':
    print("Hello Xander")
elif name == 'Hactiv8':
    print('Hello Hactiv8')
elif name == "Rizqa":
    print("Hello Rizqa")
else:
    print("I donno who u are")

Hello Rizqa

In [6]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

## One-line if statements

In [32]:
x = 3
if x ==1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

## Conditional Expressions
### (Python's Ternary Operator)

In [34]:
raining = True
print ("Let's go to the", "beach" if not raining else "library")

Let's go to the library

In [35]:
raining  = False
print ("Let's go to the", "beach" if not raining else "Library")

Let's go to the beach

In [7]:
age = 12
s = "teen" if age < 21 else "Adult"
s

'teen'

## Python pass Statement

In [8]:
if True:
    
print('foo')

IndentationError: expected an indented block (2249588765.py, line 3)

In [9]:
if True:
    pass
    
print('foo')

foo

## Python While Loops

In [41]:
n = 5
while n > 0:
    n-=1
    print(n)

4
3
2
1
0

In [11]:
i = 1
while i< 6:
    print(i)
    i += 1

1
2
3
4
5

## Python break and continue Statements

In [12]:
n = 5
while n > 0:
    n-=1
    if n ==2:
        break
    print(n)
print("Loop ended.")

4
3
Loop ended.

In [13]:
n = 5
while n > 0:
    n-=1
    if n ==2:
        continue
    print(n)
print("Loop ended.")

4
3
1
0
Loop ended.

## Else Clause

In [57]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print("Loop done.")

4
3
2
1
0
Loop done.

In [58]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n ==2:
        break
else:
    print("Loop done.")

4
3
2

## Nested while Loops

In [14]:
age = 78
gender = "M"

if age < 18:
    if gender == "M":
        print("Son")
    else:
        print("Daughter")
elif age >= 18 and age < 65:
    if gender == "M":
        print("Father")
    else:
        print("Mother")
else:
    if gender == "M":
        print("Grandfather")
    else:
        print("Grandmother")

Grandfather

In [15]:
a = ['foo','bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz','qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

## One-Line while Loops

In [16]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## Python for Loop

In [18]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [20]:
d = {'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [21]:
for k in d:
    print(d[k])

1
2
3

In [22]:
for k in d.values():
    print(k)

1
2
3

In [23]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [2]:
print('ok')

ok